////////////////////////////////////
// Buttons, cards, etc
@use 'base' as *;

.btn-add {
  border-radius: 6px;
  border: none;
  padding: 6px 12px;
  background-color: $color-primary;
  color: $color-white;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #3a58bc;
  }
}

.data-header__dots {
  font-size: 14px;
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  cursor: pointer;
  padding: 4px;
}
