////////////////////////////////////
// Buttons, cards, etc
@use 'base' as *;

.btn-add {
  border-radius: 6px;
  border: none;
  padding: 6px 12px;
  background-color: $color-primary;
  color: $color-white;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #3a58bc;
  }
}

.btn-dropdown {
  background: none;
  border: none;
  color: inherit;
  margin-right: 20px;
  cursor: pointer;

  .fa-chevron-down {
    margin-left: 4px;
  }
}

.btn-left {
  padding: 7px 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  .fa-chevron-left {
    width: 6px;
    height: 3px;
    color: #868fa0;
  }
}

.btn-right {
  padding: 7px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;

  .fa-chevron-right {
    width: 6px;
    height: 3px;
    color: #868fa0;
  }
}
