////////////////////////////////////
// Buttons, cards, etc
@use 'base' as *;

.btn-add {
  border-radius: 6px;
  border: none;
  padding: 6px 12px;
  background-color: $color-primary;
  color: $color-white;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #3a58bc;
  }
}

.btn-edit,
.btn-delete {
  font-size: 14px;
  padding: 3px;
  border: none;
  background: none;
  border: 1px solid $color-parent-bg;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 4px;
}

.btn-edit {
  margin-right: 2px;
  border: 1px solid $input-border;
}
.btn-delete {
  background-color: $color-negative;
  color: $color-white;
}

.btn-clear,
.btn-cancel {
  font-size: 14px;
  padding: 4px;
  background: none;
  border: none;
  border-radius: 4px;
  border: 1px solid $input-border;

  cursor: pointer;
}
.btn-clear {
  margin-right: 10px;
  background-color: rgb(241, 91, 91);
  color: $color-white;
}

.btn-submit {
  padding: 5px;
  background: none;
  border: none;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  background-color: $color-primary;
  color: $color-white;
}

.btn-left {
  padding: 7px 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  .fa-chevron-left {
    width: 6px;
    height: 3px;
    color: #868fa0;
  }
}

.btn-right {
  padding: 7px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;

  .fa-chevron-right {
    width: 6px;
    height: 3px;
    color: #868fa0;
  }
}
